apiVersion: v1
kind: Service
metadata:
  name: timescaledb
  namespace: timescaledb
  labels:
    app: timescaledb
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: timescaledb
  type: ClusterIP