apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: timescaledb
  namespace: timescaledb
spec:
  serviceName: "timescaledb"
  replicas: 1
  selector:
    matchLabels:
      app: timescaledb
  template:
    metadata:
      labels:
        app: timescaledb
    spec:
      containers:
      - name: timescaledb
        image: timescale/timescaledb:latest-pg16
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: timescaledb-secret
              key: password
        - name: PGDATA
          value: /var/lib/postgresql/data/pgdata
        volumeMounts:
        - name: storage-volume
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: storage-volume
        persistentVolumeClaim:
          claimName: timescaledb-pvc