services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.14.1
    container_name: mlflow_server
    restart: always
    ports:
      - "${MLFLOW_PORT}:${MLFLOW_PORT}"
    environment:
      - MLFLOW_BACKEND_STORE_URI=${MLFLOW_BACKEND_STORE_URI}
      - MLFLOW_DEFAULT_ARTIFACT_ROOT=${MLFLOW_DEFAULT_ARTIFACT_ROOT}
    volumes:
      - ./mldata:/mlflow
      - ./mlartifacts:${MLFLOW_DEFAULT_ARTIFACT_ROOT}
    command: >
      mlflow server
      --backend-store-uri ${MLFLOW_BACKEND_STORE_URI}
      --default-artifact-root ${MLFLOW_DEFAULT_ARTIFACT_ROOT}
      --host 0.0.0.0
      --port ${MLFLOW_PORT}
