apiVersion: v1
kind: Service
metadata:
  name: inference-service
  namespace: video-processing
  labels:
    app: inference-service
spec:
  type: ClusterIP
  ports:
  - port: 8001
    targetPort: 8001
    name: http
  selector:
    app: inference-service
