apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: port-front
  namespace: video-processing
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: port-front
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80
